@import "bootstrap/scss/bootstrap";
@import "dropzone";
@import "masonry";

body {
	// background-color: #0f4c59;
	background-image: linear-gradient(to right bottom, #012840, #0f4c59);
}

#App {
	position: relative;
}

.fetching-spinner {
	position: absolute;
	right: 80px;
	top: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.5em;
	color: #eee;
}
h5 {
	color: rgb(80, 77, 77);
}

#spinner {
	display: grid;
	place-items: center;
	height: 100vh;
}

.heigh100 {
	min-height: 100vh;
	height: 100%;
}
.heigh100vh {
	height: 100vh;
}
